---
title: Page
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
      - ENBYfest
    </title>
    <link rel="stylesheet" href="/assets/styles/water.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <meta property="og:title" content="{{ title }}">
    {% include 'components/global-og' %}
    <meta property="og:description" content="{{ description }}">
    <meta name="description" content="{{ description }}">
  </head>
  <body class="page-{{ title | slugify }} template-page">
    {%- include 'components/header' -%}
    <main>
      <h1>{{ title }}</h1>
      <div class="rte">
        {{ content }}
      </div>
    </main>
  </body>
</html>
